.main{
  background-color: rgb(0, 217, 255);
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  padding: 10px;

}
.main .logo img{
  height: 100px;
  width: 100px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin-left: 50px;

}
.main .logout button{
  background-color: grey;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
}
.root{
  margin-top: 50px;
}
.root .table tr td{
  border: 2px solid black;
}
.table{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 5px;
}
.table tr th{
  padding: 10px;
  background-color: rgb(83, 74, 74);
  color: white;
  word-spacing: 2px;
}
.loginMain{
  background-color: rgb(199, 127, 127);
  padding: 50px;
  margin: 50px;
  width: 500px;
}

.loginMain input{
  padding: 20px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
}
.loginMain button{
  background-color: aqua;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}